li {
  list-style: none;
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.main-content {
  min-height: 300px;
}
.sub-content {
  margin: auto;
}
ul {
  padding-left: 0;
}
.pull-right {
  float: right;
}
.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}
